* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
    color: white
}

.app {
   
    max-width: 600px;
    width: 100vw;
    height: 100vh;
    border: 2px solid white;
    overflow-y: auto;
}

body {
    background-color: #00202f;
    display: flex;
    justify-content: center;
    align-self: center; 
}




button {
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	/* border-radius:5px; */
	/* border:2px solid #dcdcdc; */
	display: flex;
    flex-direction: row;
    align-items: center;
	cursor:pointer;
	color:#004666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	padding:10px 20px;
	text-decoration:none;
    gap: 1rem;
}
button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
button:active {
	position:relative;
	top:1px;
}

button p { 
	color:#004666;
}

.chosen-options {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.marker-in-button {
    height: 1.5rem;
}


.filters {
    display: flex;
    flex-direction: column;
}

.chosen-filter-button {
    background-color: #cdf4ff;
}

.rating-star {
    height: 50px;
    width: 55px;
    background-image: url("/star.svg");
    background-size: cover;
}

.view-selector {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    background-color: #004666;
}

.invisible {
    display: none;
}