* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
    color: white
}

.app {

}

body {
    background-color: #00202f;
    display: flex;
    justify-content: center;    
    max-width: 320px;
    width: 320px;
    max-height: 480px;
    height: 480px;
    border: 2px solid white;
}


button {
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:5px;
	border:2px solid #dcdcdc;
	display: flex;
    flex-direction: row;
    align-items: center;
	cursor:pointer;
	color:#004666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	padding:20px 40px;
	text-decoration:none;
    gap: 1rem;
}
button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
button:active {
	position:relative;
	top:1px;
}

button p { 
	color:#004666;
}

.chosen-options {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.marker-in-button {
    height: 1.5rem;
}

.chosen-options p::before {
    content: ">  ";
    display: inline-block;
    color: white;
}

.map-container {
    width: 90vw;
    height: 50vh;
}

.filters {
    display: flex;
    flex-direction: column;
}

.chosen-filter-button {
    background-color: #cdf4ff;
}

.rating-star {
    height: 75px;
    width: 80px;
    background-image: url("/star.svg");
    background-size: cover;
}

.map2 {
  width: 100px;
  height: 100px;
  background-color: white;
  z-index: 1000;
}

.map {
  z-index: 10;
}