* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    box-sizing: border-box;
}

body {
    background-color: #00202f;
    display: flex;
    justify-content: center;
    align-self: center; 
}

#root {
    max-width: 600px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.app {
   
    width: 100%;
    /* border: 2px solid white; */
    overflow-y: auto;
}

.content {
    width: 100%;
    height: 88vh;    
    /* border: 2px solid orange; */
}

.logo-corner {
    position: absolute;
    height: 10vh;
    width: 10vh;
    z-index: 100;
    margin: 1vh;
}


button {
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	/* border-radius:5px; */
	/* border:2px solid #dcdcdc; */
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	cursor:pointer;
	color:#004666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	padding:10px 20px;
	text-decoration:none;
    width: 200px;
    gap: 1rem;
    
}
button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
button:active {
	position:relative;
	top:1px;
}

button p { 
	color:#004666;
}

.options-bar {

    position: sticky;

    top:0;
    padding: 1rem 1rem;
    padding-left: 6rem;
    background-color: #00202f;
    height: 12vh;
    z-index: 90;
    width: inherit;
    /* border: 1px solid yellowgreen; */
    border-bottom: 2px solid white;


}

.chosen-options {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.marker-in-button {
    height: 1.5rem;
}


.filters {
    display: flex;
    flex-direction: column;
    /* border: 2px solid */
    min-height: 100%;
    display: flex;
    justify-content: safe center;
    align-items: center;
}

.chosen-filter-button {
    background-color: #cdf4ff;
}


.rating-star {
    height: 50px;
    width: 55px;
    background-image: url("/star.svg");
    background-size: cover;
}

.view-selector {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #004666;
    height: 3rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 7px;
    border-left: 2px solid white;
    border-top: 2px solid white
}

.invisible {
    display: none;
}

.restaurant-container {
    width: 100%

}

.restaurant-title-pic {
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.single-chosen-option {
    cursor: pointer;
    max-width: 88px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.results, .results-map {
    height: 100%
}

.map-box {
    height: 100%;
}